header {
  display: block;
  top: 0;
  width: 100%;
  height: 80px;
  max-width: 1920px;
  color: #003da5;
  z-index: 500;
  position: fixed;
}

.container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 5px;
  height: 70px;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.contact-container .top {
  width: auto;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.contact-container .top li {
  padding: 0 10px;
  position: relative;
  flex-grow: 1;
  text-align: center;
}
.button-dep {
  border: 1px solid #003da5;
  background-color: #fff;
  color: #003da5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 48px;
  border-radius: 4px;
  padding: 0 !important;
  cursor: pointer;
  line-height: 1.55em;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  vertical-align: bottom;
  transition: background-color 0.5s cubic-bezier(0.23, 1, 0.32, 1),
    color 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}
.phone-number {
  margin: auto;
  font-weight: 600;
  cursor: pointer;
}
.button-dep a {
  font-style: normal;
  color: #003da5;
  font-weight: 600;
  font-family: Oswald, sans-serif !important;
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-dep a:link {
  text-decoration: none;
}

.container-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-items-container {
  display: flex;
  align-items: center;
  flex-grow: 1 !important;
}

.top-navigation ul {
  display: flex;
  justify-content: space-around;
  padding-left: 15px;
  align-items: center;
  float: left;
  list-style: none;
}

.top-navigation ul li {
  position: relative;
  flex-grow: 1;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.top-navigation ul li:hover,
.a-standalone:hover {
  text-decoration: underline;
  color: #003da5;
}
.phone-number a {
  display: none;
}

@media (min-width: 960px) {
  .phone-number a {
    font-style: normal;
    font-family: Open Sans, sans-serif;
    color: #003da5;
    font-weight: 600;
    padding: 1em 5px;
    text-decoration-line: none;
    align-items: center;
    display: inline-grid;
    min-height: 3rem;
    min-width: 3rem;
    text-transform: none;
    vertical-align: unset;
    text-align: inherit;
    letter-spacing: normal;
    line-height: inherit;
    font-size: inherit;
    background: none;
    border: 0;
    border-radius: 0;
  }
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .logo img {
    width: 90px;
  }
}

@media (min-width: 768px) and (max-width: 960px) {
  .logo img {
    width: 80px;
  }
}

@media (min-width: 960px) and (max-width: 1365px) {
  .logo img {
    width: 90px;
  }
}
@media (min-width: 768px) and (max-width: 1365px) {
  .top-navigation {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1365px) {
  .top-navigation {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .top-navigation ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  .container-items {
    display: flex !important;
  }
}

@media (min-width: 1366px) {
  .container {
    padding: 15px 30px 5px;
  }
}
@media (min-width: 1366px) {
  .top-navigation ul {
    display: flex;
    padding-left: 30px;
    justify-content: space-between;
    width: 800px;
  }
}
@media (min-width: 1366px) {
  .top {
    display: flex;
    padding-left: 30px;
    justify-content: space-between;
    width: 800px;
  }
}

.top-roofline {
  display: flex !important;
  width: 100%;
  max-width: 1920px;
  height: 10px;
  z-index: 900;
  pointer-events: none;
  position: absolute;
}
.top-roofline .mover {
  flex-shrink: 0;
  transition: width 0.3s ease-in-out;
  background-color: #fff;
  border-bottom: 2px solid #d50032;
}

.cutout {
  flex-shrink: 0;
  position: relative;
}

.cutout img {
  vertical-align: top;
  position: relative;
  z-index: 5;
  opacity: 0;
  transition-delay: 0.1s;
  height: 10px;
  width: 42px;
  transition: all 0.2s ease-in-out;
}
.line {
  opacity: 1;
  transition-delay: 0s;
  position: absolute;
  top: -2px;
  height: 10px;
  width: 42px;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  border-bottom: 2px solid #d50032;
}
.filler {
  flex-grow: 1;
  background-color: #fff;
  border-bottom: 2px solid #d50032;
}

@media (max-width: 768px) {
  .container-items {
    display: none;
  }
  .mobileHeader {
    display: block;
  }
}
